<h1 mat-dialog-title>Add a new Question</h1>
<div mat-dialog-content>
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Title" type="text" formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Content" formControlName="content"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Location</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Location"
               matInput
               formControlName="city"
               (input)="onInput($event)"
               [matAutocomplete]="auto">
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn">
          <mat-option *ngFor="let option of cities; trackBy: trackByMethod" [value]="option">
            {{option._source.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="space-around center" >
        <button mat-raised-button type="button" (click)="onNoClick()" color="warn">Cancel</button>
        <button mat-raised-button type="submit" color="primary">Save</button>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>

</div>
