<div class="container">
  <div>
    <mat-card>
      <mat-card-title>
        <a *ngIf="titleIsLink" [routerLink]="['/questions', question.question.id]" [state]="question">{{ question.question.title }}</a>
        <h2 *ngIf="!titleIsLink">{{ question.question.title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>{{ question.question.city.name }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ question.question.content }}</p>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div class="card__date">
            <mat-card-subtitle>
              <small>{{ question.question.createdAt | date }}</small>
            </mat-card-subtitle>
          </div>
          <div>
            <button
              mat-icon-button
              color="{{ question.isFavorite ? 'accent' : 'primary' }}"
              matTooltip="{{ question.isFavorite ? 'Remove from' : 'Add to' }} favorites"
              (click)="toggleFavorite()">
              <mat-icon class="icon">favorite</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
  <br>
</div>
