<div class="home" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex.gt-sm="60" fxFlex="100">
    <div *ngIf="pageUrl == '/home'" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-around center" class="content">
        <app-search></app-search>
        <br>
        <div class="blocks">
          <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
              <mat-icon>add</mat-icon> Add Question
          </button>
        </div>
    </div>
    <app-question-list></app-question-list>
</div>
