<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex.gt-sm="60" fxFlex="100">
      <mat-card-title>
        <a class="card__link" [routerLink]="['/questions',question._id]">{{ question._source.title }}</a>
      </mat-card-title>
      <mat-card-subtitle>{{ question._source.city.name }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ question._source.content }}</p>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div>
            <small>{{ question._source.createdAt | date }}</small>
          </div>
          <div>
            <button mat-icon-button color="primary" title="Add to favorites">
              <mat-icon class="icon">favorite</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
  <br>
</div>
