<div class="container">
  <div>
    <mat-card>
      <mat-card-title>
        <a [routerLink]="['/questions',question._id]">{{ question._source.title }}</a>
      </mat-card-title>
      <mat-card-subtitle>{{ question._source.city.name }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ question._source.content }}</p>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div class="card__date">
            <mat-card-subtitle>
              <small>{{ question._source.createdAt | date }}</small>
            </mat-card-subtitle>
          </div>
          <div>
            <button mat-icon-button color="primary" matTooltip="Add to favorites">
              <mat-icon class="icon">favorite</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>

    </mat-card>
  </div>
  <br>
</div>
